<!DOCTYPE html>
<html lang="pt-PT">

<head>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Manuel Kalueka">

  <title>

    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/base.css' />
  <link rel='stylesheet' href='/stylesheets/aluno.css'>
  <link rel='stylesheet' href='/stylesheets/login.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/registo.css'>
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>