<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
</head>

<body>
  <div class="card__msg">
    <h1 class="msg__title">
      <%= title %>
    </h1>
    <p class="msg__text">Bem-Vindo ao <%= title %>
    </p>

    <button class="btn btn__login" id="btnLogin">Iniciar Sessão</button> ou

    <button class="btn btn__registar" id="btnRegisto">Registar</button>
  </div>

  <p class="copyCAF">&copy;C.A.F - <span>Criança Alfabetizada, Futuro Brilhante!</span></p>
</body>

<script src="/javascripts/index.js"></script>

</html>