<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
</head>

<body>
    <form method="post" id="formLogin" class="form">
        <h1>
            <legend>Inicio de Sessão</legend>
        </h1>

        <label for="userName">
            <i class="fa fa-user"></i>
            <input type="text" id="userName" class="campo" required placeholder="Digite seu usuário" maxlength="20">
        </label>

        <label for="senha">
            <i class="fa fa-lock"></i>
            <input type="password" id="Senha" class="campo" required placeholder="Digite sua senha" maxlength="20">
        </label>

        <div class="button_container">
            <button type="submit" class="btn btn__login">Entrar</button>
            <button type="reset" class="btn btn__cancel">Cancelar</button>
            <a href="/esqueci-senha" id="btnEsqueciSenha">Esqueci minha senha</a>
        </div>
    </form>

</html>