<!DOCTYPE html>
<html lang="pt-PT">

<head>

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Manuel Kalueka">

    <title>

        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="top_bar">

        <h1 class="cafButton" id="btnPrincipal">C.A.F</h1>

        <nav class="menu_top">

            <button type="button" id="btnProfile" class="menu_item" title="Perfil do Usuário">
                <i class="fa fa-circle-user"></i>
            </button>

            <ul>
                <li>
                    <button type="button" class="menu_item" title="Estatísticas" id="btnDash">
                        <i class="fa fa-chart-line"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" id="btnVerAlunos" title="Ver alunos">
                        <i class="fa fa-list"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" id="btnIncscricoes" title="Inscrições">
                        <i class="fa fa-book-open"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" id="btnPagamentos" title="Pagamentos">
                        <i class="fa fa-coins"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" id="btnCursos" title="Cursos">
                        <i class="fa fa-book"></i>
                    </button>
                </li>

                <li>
                    <button type="button" class="menu_item" id="btnConfig" title="Configurações">
                        <i class="fa fa-gear"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" id="btnSobre" title="Sobre">
                        <i class="fa fa-users"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="conteudo_Principal" id="tPrincipal">
        <div class="lists_container">

            <h2 class="card_title" id="freqTitle">Actividades Frequentes <i class="fa fa-clock"></i></h2>

            <ul id="list_actFreq" class="listFreq list">
                <li class="freqItem card">
                    <a href=""> <i class="fa fa-list"></i> <br>Ver alunos</a>
                </li>

                <li class="freqItem card"><a href="">
                        <i class="fa fa-coins"></i> <br> Pagamentos</a>
                </li>

                <li class="freqItem card"><a href="">
                        <i class="fa fa-chart-line"></i> <br> Estatísticas</a>
                </li>
            </ul>

            <h2 class="card_title" id="favTitle">Actividades Favoritas <i class="fa fa-heart"></i></h2>

            <ul id="list_actFav" class="listFav list">

                <li class="favItem card"><a href="">
                        <i class="fa fa-book"></i> <br> Cursos</a></li>
                <li class="favItem card">
                    <a href=""> <i class="fa fa-coins"></i>
                        <br> Pagamentos</a>
                </li>
                <li class="favItem card">
                    <a href=""> <i class="fa fa-chart-line"></i> </i> <br> Estatísticas</a>
                </li>
            </ul>
        </div>
    </main>

    <footer class="bottom_bar">
        <p id="user"> Administrador </p>
        <p id="dateLocal"><input type="datetime-local" readonly></p>
    </footer>
</body>

<script src="/javascripts/main.js"></script>
<script src="/javascripts/menu.js"></script>

</html>