<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
</head>

<body>
    <header class="top_bar">
        <h1 class="cafButton" id="btnPrincipal">C.A.F</h1>
        <nav class="menu_top">
            <ul>
                <li>
                    <button type="button" class="menu_item" title="Estatísticas">
                        <i class="fa fa-list"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" title="Ver alunos">
                        <i class="fa fa-list"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" title="Inscrições">
                        <i class="fa fa-book-open"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" title="Pagamentos">
                        <i class="fa fa-coins"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" title="Cursos">
                        <i class="fa fa-book"></i>
                    </button>
                </li>

                <li>
                    <button type="button" class="menu_item" title="Configurações">
                        <i class="fa fa-phone"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="menu_item" title="Sobre">
                        <i class="fa fa-phone"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <footer class="bottom_bar">
        <p id="user">Administrador</p>
        <p id="dateLocal"><input type="datetime-local" readonly></p>
    </footer>
</body>

<script src="/javascripts/main.js"></script>

</html>