<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
<script src="/javascripts/index.js"></script>

</html>