<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/base.css' />
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/registo.css">
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
</head>

<body>

  <script src="/javascripts/index.js"></script>
  <form id="formRegisto" method="post" class="form">
    <legend>
      <h1>Registo de Usuário</h1>
    </legend>

    <label for="txtCodFuncionario">CAF<input type="text" id="txtCodFuncionario" class="campo" maxlength="2"
        placeholder="Código de Func." required>
    </label>

    <label for="txtUsuario">
      <i class="fa fa-user"></i>
      <input type="text" id="txtUsuario" class="campo" maxlength="30" placeholder="Digite o nome de usuário" required>
    </label>
    <label for="txtSenha">
      <i class="fa fa-lock"></i>
      <input type="password" id="txtSenha" class="campo" maxlength="50" placeholder="Digite a senha" required>
    </label>
    <label for="txtConfSenha">
      <i class="fa fa-lock"></i>
      <input type="password" id="txtConfSenha" class="campo" maxlength="50" placeholder="Repita a senha" required>
    </label>
    <button type="button" id="btnRegistar" class="btn">Concluir Registo</button>
    <button type="reset" class="btn btn__cancel" id="btnCancelar">Cancelar</button>

    <pre id="outValidaSenha"></pre>
  </form>
  <script src="/javascripts/registo.js"></script>
</body>

</html>