
body {
    overflow: hidden;
}

main {
    width: 95%;
    float: right;
}

.left_bar {
    display: inline-block;
    width: 5%;
    height: 90vh;
    background-color: var(--info);
}

.menu_item {
    width: 100%;
    display: inline-block;
    font-size: 2em;
    padding-bottom: 10px;

    cursor: pointer;
}

.top_bar {
    padding: 2% 5%;
    padding-right: 25%;

}

.menu_item--top {
    margin: 10px;
}

.janela-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 60%;
    min-width: 450px;
    min-height: 100px;
    padding: 50px;
    border-radius: 6px;

    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    color: rgb(18, 16, 16);
}

.fechar {
    outline: 0;
    border: 0;

    position: absolute;
    top: 22px;
    right: 0;

    width: 30px;
    height: 30px;

    background-color: red;
    color: #fff;
    font-size: 20px;

    border-radius: 50%;

    cursor: pointer;
}

.janela-modal.abrirModal {
    display: flex;
}

@keyframes abrirModal {
    from {
        transform: translate3d(0, -100%, -5px);
        /* Modal entra de cima*/
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirModal .modal {
    animation-name: abrirModal;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.acoesAlunos {
    /* alinhar acções*/
    cursor: pointer;
    font-size: 1em;
}

#btnEditarRegisto:active,
#btnEditarRegisto:active i {
    color: var(--warning);
}

#btnApagarRegisto:active,
#btnApagarRegisto:active i {
    color: var(--danger);
}


.title {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.top_menu li {
    cursor: pointer;
    display: inline;
}

.estadoPagamento-regular {
    color: var(--success);
}

.estadoPagamento-atrasado {
    color: var(--warning);
}

.estadoPagamento-m-atrasado {
    color: var(--danger);
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    max-width: 720px;
    border-collapse: collapse;
}

tr,
td,
th {
    border: 1px solid var(--info);

}

.titleTab {
    background-color: var(--azul_escuro);
    color: var(--light);

}

.dadosTab {}

.formCadastro {

    margin-top: 1em;
    padding: .2em .5em;
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: var(--border_rad);
}

fieldset {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--azul_escuro);

    border-radius: var(--border_rad);
}

label {
    display: block;
}

.campo,
select {
    width: 100%;
    padding: 5px 10px;
}

.btn,
.campo, select {
    border-radius: var(--border_rad);
    outline: 0;
    border: 0;

}

.campo:focus,
select:focus {
    outline: 1px solid var(--info);
    box-shadow: 1px 1px 5px #17a3b87e;
}

.wrong_Input:focus {
    outline: 1px solid var(--danger);
    box-shadow: 1px 1px 5px #dc354692;
}

option {
    background-color: rgb(241, 237, 237);
    color: var(--info);
}

.btn {
    margin-top: 20px;
    padding: 10px 3px;
    color: var(--info);
}

button#btnRegistar {
    background-color: var(--success);
    color: var(--light);
}

button#btnCancelar {
    background-color: var(--danger);
    color: var(--light);
}

/* ToDo Actualizar estilo dos botoes */