:root {
    --azul_escuro: #0a146e;
    --azul_claro: #e9ecef;
    --danger: #dc3545;
    --warning: #ffc107;
    --success: #28a745;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;

    --font_bold: 'Roboto-Bold', sans-serif;
    --font_regular: 'Roboto-Regular', sans-serif;
    --font_light: 'Roboto-Light', sans-serif;

    --border_rad: 6px;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

@keyframes is-grow {
    to {
        transform: scale(1.2);
    }
}

body {
    overflow-y: hidden;
}

.top_bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 5%;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #0a146ea4, 20%, #23b7ce);
}

.cafButton {
    font-size: 1em;
    border: 1px solid var(--azul_escuro);
    background: var(--azul_claro);
    color: var(--info);
    border-radius: 45%;
    padding: 5px;
    cursor: pointer;
}

.left_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    padding: 10px;
    width: 5%;
    height: 92.2vh;
    background: linear-gradient(90deg, #0a146ea4, 20%, #23b7ce);
}

.menu_top ul li {
       display: inline;
    padding: 10px;
    margin: 1em 1em;
}

.menu_item {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: var(--border-rad);
}

.menu_item i {
    color: var(--azul_escuro);
    font-size: 2em;
}

.bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--info);
    width: 100%;
    height: 2em;
    position: absolute;
    left: 0;
    bottom: 0;

    padding-left: 5%;
    padding-right: 5%;
}

.bottom_bar p {
    font-weight: bold;
}

.bottom_bar input {
    font-size: .9em;
    outline: none;
    border: none;
    background: transparent;
}

.lists_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_title {
    font-variant: small-caps;
    font-size: 1.9em;
    /*margin-bottom: 10px;*/
    color: var(--danger);
}

#freqTitle {
    color: #0f6f25;
}

#freqTitle i.fa {
    font-size: 22px;
    color: #0f6f25;
}

#favTitle {
    color: #23b7ce;
}

#favTitle i.fa {
    font-size: 22px;
    color: #23b7ce;
}

.card {
    width: 150px;
    height: 100px;
    display: inline-block;
    padding: 1.3em;
    border-radius: var(--border_rad);
    box-shadow: 1px 1px 5px #00000037;
    margin: 15px 10px 25px;
    background-color: var(--info);
    color: var(--light);

    text-align: center;

    cursor: pointer;
}

.card:hover {
    animation-name: is-grow;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1)
}

.freqItem {
    background-color: var(--success);
}

.freqItem:active {
    background-color: #0f6f25;
}

.favItem {
    background-color: var(--info);
}

.favItem:active {
    background-color: #23b7ce;
}

.card i {
    font-size: 2em;
    margin-bottom: 5px;
}

.freqItem i {
    color: #0f6f25;
}

.favItem i {
    color: #0a146e;
}

.menu_top {
    justify-content: space-between;
    display: flex;
}

button#btnProfile {
    margin-right: 5.5em;
}

