body {
    overflow-y: scroll;
}

.form {
    width: 100%;
    max-width: 560px;
    margin: 2em auto;
    padding: 5em 5%;
    display: flex;

    flex-direction: column;
    border-radius: var(--border_rad);
    background-color: var(--light);

    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.299);
}

input#txtCodFuncionario {
    padding: none;
    margin: none;
    background-color: white;
    width: 15%;
}

label {
    font-weight: bold;
}

button#btnRegistar {
    color: var(--light);
    background-color: var(--info);
}

button#btnRegistar:active {
    color: var(--azul_escuro);
}

pre {
    color: var(--danger);
    font-size: .8em;
}